<!DOCTYPE html>
<html>
<head>
    <title>Show Appreciation to Users</title>
</head>
<body>
    <div style="text-align: center; background-color: #F4D03F; padding: 20px;">
        <h1 style="color: #333; font-family: Arial, sans-serif;">Thank You for supporting our platform!</h1>
        <p style="color: #555; font-family: Arial, sans-serif;">Kindly Click on all the adds.</p>
      
    </div>
  <script type="text/javascript">
	atOptions = {
		'key' : '9a6ee594140102cea64b20a952152c68',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/9a6ee594140102cea64b20a952152c68/invoke.js"></scr' + 'ipt>');
</script>
</body>
</html>
